<?xml version="1.0" encoding="utf-8" ?>
<configuration scan="true" scanPeriod="60 seconds">

    <property scope="local" name="maxFileSize" value="100MB"/>
    <property scope="local" name="maxLogHistory" value="7"/>
    <property scope="local" name="logBaseDir" value="./logs"/>
    <property scope="local" name="logOldDir" value="./logs/old/%d{yyyy-MM-dd}"/>
    <property scope="local" name="logLevel" value="DEBUG"/>
    <property scope="local" name="compType" value=".gz"/>
    <property scope="local" name="pt_COMMON" value="[%d{MM-dd HH:mm:ss.SSS}] %-5.5p [%t] [%C{2}.%M] %4L - %m%n"/>
    <property scope="local" name="pt_SIMPLE" value="[%d{MM-dd HH:mm:ss.SSS}] %m%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pt_COMMON}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="ALL_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logBaseDir}/all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logOldDir}/all.%d{yyyy-MM-dd HH:mm}.%i.log${compType}</fileNamePattern>
            <maxHistory>${maxLogHistory}</maxHistory>
            <maxFileSize>${maxFileSize}</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${pt_COMMON}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logBaseDir}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logOldDir}/error.%d{yyyy-MM-dd HH:mm}.%i.log${compType}</fileNamePattern>
            <maxHistory>${maxLogHistory}</maxHistory>
            <maxFileSize>${maxFileSize}</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${pt_COMMON}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="JPA_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logBaseDir}/jpa.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logOldDir}/jpa.%d{yyyy-MM-dd HH:mm}.%i.log${compType}</fileNamePattern>
            <maxHistory>${maxLogHistory}</maxHistory>
            <maxFileSize>${maxFileSize}</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${pt_SIMPLE}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

    <root level="ERROR">
        <appender-ref ref="ERROR_LOG"/>
    </root>

    <logger name="io.jistol.github.sss" level="${logLevel}">
        <appender-ref ref="ALL_LOG"/>
    </logger>

    <logger name="org.hibernate" level="INFO">
        <appender-ref ref="JPA_LOG"/>
    </logger>

    <logger name="org.hibernate.SQL" level="${logLevel}">
        <appender-ref ref="JPA_LOG"/>
    </logger>

    <logger name="org.hibernate.type.descriptor.sql" level="trace">
        <appender-ref ref="JPA_LOG"/>
    </logger>
</configuration>